<launch>
    <rosparam command="load" file="$(find icar_routine)/config/config.yaml" />

    <node pkg="ds4_driver" name="ds4" type="ds4_driver_node.py" output="log">
        <remap from="/status" to="/ds4_/to_pc"/>
        <remap from="/set_feedback" to="/ds4_/from_pc"/>
    </node>

    <!-- <node pkg="rqt_gui" name="rqt" type="rqt_gui" output="log" /> -->

    <node pkg="icar_hardware" name="stm32" type="stm32" output="screen" />
    <node pkg="icar_hardware" name="hardware_interpreter" type="hardware_interpreter" output="screen" />
    <node pkg="icar_odometry" name="odometry_interpreter" type="odometry_interpreter" output="screen" />
    <node pkg="icar_routine" name="transform_broadcaster" type="transform_broadcaster" output="screen" />
    <node pkg="icar_routine" name="routine" type="routine" output="screen" />
</launch>